/* SASS CLASSES */
* {
  box-sizing: border-box;
  transition: 0.3s linear all; }

html, body {
  height: 100%;
  background: #000;
  cursor: url("wildthang.cur"), auto; }

body {
  padding: 20px;
  margin: 0; }

.row {
  display: flex;
  flex-direction: row;
  width: 100%; }

/* ------------- SCROLLBAR ------------- */
/* width */
::-webkit-scrollbar {
  width: 20px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: #000;
  margin-left: 2px;
  border-left: 1px solid #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 1px solid #fff; }

::-webkit-scrollbar-button {
  border-color: #fff; }

/* -----------------------------------------------------------------------------
                           - - - >>> TYPOGRAPHY <<< - - -
----------------------------------------------------------------------------- */
p, a {
  font-family: "Merriweather", serif; }

p {
  color: #fff; }

a {
  text-decoration: none;
  color: #e040fb; }

a:hover {
  color: #A4FA3E; }

/* -----------------------------------------------------------------------------
                              - - - >>> MAIN <<< - - -
----------------------------------------------------------------------------- */
main {
  height: 100%;
  background-color: #000;
  padding: 20px; }

#page-title {
  text-align: center;
  font-size: 24px; }

/* -----------------------------------------------------------------------------
                        - - - >>> INTRO-WINDOW <<< - - -
----------------------------------------------------------------------------- */
.about-window {
  z-index: 0;
  position: fixed;
  background-color: #000;
  padding: 20px;
  padding-top: 4px;
  border: 1px solid #fff;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  height: 85vh;
  right: calc(20px * 2);
  left: calc(20px * 2);
  transition: all 0.3s; }
  .about-window .row:first-child {
    justify-content: flex-end; }
  .about-window .row #close-me {
    font-size: 12px; }
  .about-window #intro-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 25px auto; }
  .about-window #intro-text {
    margin: 0;
    text-align: justify;
    font-size: 13px; }

.display-switch {
  opacity: 1;
  transition: all 0.3s;
  visibility: visible;
  z-index: 9000; }

/* -----------------------------------------------------------------------------
                         - - - >>> NAVBAR-DIV <<< - - -
----------------------------------------------------------------------------- */
.navbar-div.row {
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 36%;
  width: 300px;
  text-align: center;
  justify-content: space-between;
  list-style: none;
  padding: 0; }
  .navbar-div.row .nav-item {
    color: #fff;
    font-size: 40px;
    margin-right: 20px; }

/* -----------------------------------------------------------------------------
                         - - - >>> IMAGES <<< - - -
----------------------------------------------------------------------------- */
.image-container {
  width: calc(100% - (20px * 2));
  height: calc(100% - (20px * 2));
  position: fixed; }

.image {
  position: relative;
  max-width: 100px; }

/* #############################################################################
   #############################################################################
                         - - - >>> BIG SCREENS <<< - -
#############################################################################
#############################################################################*/
@media (min-width: 829px) {
  .about-window {
    height: 87vh; }
    .about-window #intro-text {
      font-size: 16px; }
  /* -----------------------------------------------------------------------------
                         - - - >>> FANCYBOX <<< - - -
----------------------------------------------------------------------------- */
  .fancybox-container,
  .fancybox-infobar,
  .fancybox-button {
    font-family: "Merriweather", serif; }
  .fancybox-is-open
.fancybox-bg,
  .fancybox-button,
  .fancybox-infobar {
    background: #000;
    opacity: 1; }
  .fancybox-slide {
    padding: 0; } }
