

/* SASS CLASSES */
$primary-font: 'Merriweather', serif;
$borders: 1px solid #fff;
$body-padding: 20px;
$purple: #e040fb;
$green: #A4FA3E;

* {
  box-sizing: border-box;
  transition: 0.3s linear all;
}

html, body {
  height: 100%;
  background: #000;
  cursor: url('wildthang.cur'), auto;
}

body {
  padding: $body-padding;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* ------------- SCROLLBAR ------------- */
/* width */
::-webkit-scrollbar {
    width: $body-padding;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #000;
  margin-left: 2px;
  border-left: $borders;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #000;
  border: $borders;
}

::-webkit-scrollbar-button {
  border-color: #fff;
}


/* -----------------------------------------------------------------------------
                           - - - >>> TYPOGRAPHY <<< - - -
----------------------------------------------------------------------------- */
p, a {
  font-family: $primary-font;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  color: $green;
}

/* -----------------------------------------------------------------------------
                              - - - >>> MAIN <<< - - -
----------------------------------------------------------------------------- */
main {
  height: 100%;
  background-color: #000;
  padding: $body-padding;
}

#page-title {
  text-align: center;
  font-size: 24px;
}

/* -----------------------------------------------------------------------------
                        - - - >>> INTRO-WINDOW <<< - - -
----------------------------------------------------------------------------- */

.about-window  {
  z-index: 0;
  position: fixed;
  background-color: #000;
  padding: $body-padding;
  padding-top: 4px;
  border: $borders;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  height: 85vh;
  right: calc(#{$body-padding} * 2);
  left: calc(#{$body-padding} * 2);
  transition: all 0.3s;
  .row:first-child {
    justify-content: flex-end;
  }
  .row {
    #close-me {
      font-size: 12px;
    }
  }
  #intro-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 25px auto;
  }
  #intro-text {
    margin: 0;
    text-align: justify;
    font-size: 13px;
  }
}

.display-switch {
  opacity: 1;
  transition: all 0.3s;
  visibility: visible;
  z-index: 9000;
}

/* -----------------------------------------------------------------------------
                         - - - >>> NAVBAR-DIV <<< - - -
----------------------------------------------------------------------------- */

.navbar-div.row {
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 36%;
  width: 300px;
  text-align: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  .nav-item {
    color: #fff;
    font-size: 40px;
    margin-right: 20px;
  }
}

/* -----------------------------------------------------------------------------
                         - - - >>> IMAGES <<< - - -
----------------------------------------------------------------------------- */
.image-container {
  width: calc(100% - (#{$body-padding} * 2));
  height: calc(100% - (#{$body-padding} * 2));
  position: fixed;
}

.image {
  position: relative;
  max-width: 100px;
}

/* #############################################################################
   #############################################################################
                         - - - >>> BIG SCREENS <<< - -
#############################################################################
#############################################################################*/
@media (min-width: 829px) {

  .about-window  {
    height: 87vh;
    #intro-text {
      font-size: 16px;
    }
  }



}
