

/* SASS CLASSES */
$primary-font: 'Arial', sans-serif;
$borders: 1px solid #fff;
$body-padding: 20px;
$white: #fff;
$green: #A4FA3E;


* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background: #000;
  cursor: url('/cloudy.ico'), auto;
  scroll-behavior: smooth;
  position: absolute;
}

body {
  margin: 0;

}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}


/* -----------------------------------------------------------------------------
                           - - - >>> TYPOGRAPHY <<< - - -
----------------------------------------------------------------------------- */
p, a {
  font-family: $primary-font;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $green;
  cursor: url('/eye.ico');
}

.draggable {
  cursor: url('/eye.ico');
}




/* #############################################################################
   #############################################################################
                         - - - >>> BIG SCREENS <<< - -
   #############################################################################
   ########################################################################## */


@media (min-width: 829px) {

  #smallScreenDiv {
    display: none;
  }
  .scene {
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .trigger {
    opacity: 0;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
  }

  /* -----------------------------------------------------------------------------
                             - - - >>> INTROSCENES <<< - - -
  ----------------------------------------------------------------------------- */
  .introdiv {
    position: absolute;
    transition: all 3s;
  }

  .introimg {
    height: 80vh;
    width: 80vw;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    z-index: 1;
    margin: 10vw;
  }

  .introimg.current {
    z-index: 3;
  }

  .introdiv.inactive {
    z-index: 0;
    opacity: 0;
    transition: all 3s;
  }


  /* -----------------------------------------------------------------------------
                             - - - >>> TITLE SCENE <<< - - -
  ----------------------------------------------------------------------------- */


  .titlediv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 1;
    z-index: 9000;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }

  .titlediv.inactive {
    z-index: 0;
    opacity: 0;
    height: 0;
    width: 0;
  }

  #cloudtext {
    color: #fff;
    text-align: center;
    font-size: 4.5vw;
    opacity: 1;
    top: -120px;
    white-space: nowrap;
    width: 100%;
  }

  #cloudtext .letter {
    display: inline-block;
    line-height: 1em;
  }


  /* -----------------------------------------------------------------------------
                                - - - >>> MAIN <<< - - -
  ----------------------------------------------------------------------------- */

  .main.inactive {
    opacity: 0;
    display: none;
  }

  .main {
    display: flex;
    height: calc(100% - ((#{$body-padding} * 3) * 2));
    width:  calc(100% - ((#{$body-padding} * 3) * 2));
    margin: calc(#{$body-padding} * 3);
    position: absolute; // changed via JS
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    place-content: flex-start;
    z-index: 2000;
  }

  .main.visible {
  		opacity: 1;
      z-index: 8000;
      position: fixed;
  	}


  #page-title {
    text-align: center;
    font-size: 24px;

  }


  /* -----------------------------------------------------------------------------
                           - - - >>> NAVBAR-DIV <<< - - -
  ----------------------------------------------------------------------------- */

  .navbar-div {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 36%;
    opacity: 0;
    width: 300px;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    .nav-item {
      font-size: 40px;
      margin-right: 20px;
      i {
        font-size: 24px;
      }
    }
  }
  .nav-item:first-child {
    i {
      color: red;
    }
  }
  .nav-item:nth-child(2) {
    i {
      color: blue;
    }
  }
  .nav-item:nth-child(3) {
    i {
      color: green;
    }
  }

  .navbar-div.visible {
    opacity: 1;
    transition: all 5s;
  }

  /* -----------------------------------------------------------------------------
                           - - - >>> IMAGES <<< - - -
  ----------------------------------------------------------------------------- */
  .image-container {
    width: calc(100% - (#{$body-padding} * 2));
    height: calc(100% - (#{$body-padding} * 2));
    position: fixed;
  }



  .image-wrapper {
    opacity: 0;
    top: auto;
    left: auto;
    .image {
      max-width: 100px;
      transition: all 0.3s;
    }
  }

/* -----------------------------------------------------------------------------
                         - - - >>> FANCYBOX <<< - - -
----------------------------------------------------------------------------- */
  .fancybox-container,
  .fancybox-infobar,
  .fancybox-button {
    font-family: $primary-font;
  }

  .fancybox-is-open
  .fancybox-bg,
  .fancybox-button,
  .fancybox-infobar {
    background: #000;
    opacity: 1;
  }

  .fancybox-slide {
    padding: 0;
  }


  .fancybox-infobar {
    display: none;
  }



/* -----------------------------------------------------------------------------
                         - - - >>> IMAGES <<< - - -
----------------------------------------------------------------------------- */


  .image-wrapper {
    transition: all 0.3s;
  }




}
